.page {
    font-family: 'Inter', ‘Arial’, sans-serif;
    color: white;
    max-width: 880px;
    margin: 48px auto 0 auto;
}
@media screen and (max-width:900px) {
    .page {
        margin: 0 19px 0 19px;
    }
}